.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 21px;
    padding-bottom: 48px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--just-white-color);
    transform: translateX(100%);
    &.is-open {
        transform: translateX(0);
    }

    transition: transform var(--transition-const);
}


.mobile-menu {
    width: 480px;
    height: 796px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-toggle-open {
    background-color: transparent;
    border: none;
    padding: 0;
    right: 15px;
    top: 10px;
    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 760px) {
        display: none;
    }
}

.menu-toggle-open {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 760px) {
        display: none;
    }
}