.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100vw;
    height: 100vh;
    background-color: var(--just-white-color);
    transform: translateX(100%);
    z-index: 999;
    &.is-open {
        transform: translateX(0);
    }

    transition: transform var(--transition-const);
}


.mobile-menu {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-toggle-open {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 769px) {
        display: none;
    }
}

.menu-toggle-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 999;
    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }
}

.mobile-menu__item {
    margin-top: 32px;

    &:first-child {
        margin-top: 0px;
    }
}

.mobile-menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.mobile-contact {
    list-style: none;
    padding: 0;
    margin-top: 200px;
    margin-bottom: 0;
}

.mobile-contact__item {
&+& {
    margin-top: 32px;
            }
}

.mobile-contact__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.mobile-contact__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-soc {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 64px;
    margin-bottom: 0px;
    padding: 0;
}

.mobile-soc__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
}

.mobile-soc__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}


.mark {
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    width: 22px;
    height: 0px;
}

