.team-list__cover {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--just-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__names {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list__description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
}

.team {
    background-color: var(--bg-color-team);
}

.team-list {
    display: flex;
    margin-top: 50px;
    list-style-type: none;
    padding: 0px;

@media (max-width: 767px) {
    display: block;
    margin-top: 30px;
}
}

.team-list__item {
    margin-right: 30px;

&:last-child {
        margin-right: 0px;
    }

@media (max-width: 767px) {
    margin: 0;
    margin-top: 30px;

&:first-child {
    margin-top: 0px;
}
}
}

.team-list__item img {
    width: 100%;
}
